<!doctype html>
<html lang="en-US">
  <head>
    <title>Rec Analyzer</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/application.css"> 
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>